body{
    background: url("images/bg-body.gif");
    width: 1200px;
    line-height: 1.5;
    color: grey;
}
#body{
    position:absolute;
    left: 300px;
    background-color: white;
    top:40px;
    width: 950px;
    padding-top: 150px;
    z-index: 5;
}
#logo{
    position: absolute;
    top:60px;
    left:320px;
    display;
    z-index: 6;
}
#logo img{
    width: 80%;
}
#navigation li{
    display: inline;
    margin-right: 25px;
    padding:5px;
}
#navigation{
    display: block;
    position: relative;
    z-index: 6;
    top:110px;
    left: 590px;
}
#navigation a{
    text-decoration: none;
    color: black;
}
#navigation :nth-last-child(6){
    background-color: lightblue;
    border-radius: 5px;
}
#main :nth-child(1){
    z-index: 5;
}
#favorites{
    padding-top: 0px;
    z-index: 6;
    padding-left: 10px;
    background-color: yellow;
    position: absolute;
    width: 185px;
    height: 730px;
    top:131px;
    left:20px;
    background: url("images/bg-gallery.jpg")no-repeat;

}
.details{
    width: 450px;
    margin-left:225px;
    margin-bottom: 100px;
    border-right-style:solid ;
    border-right-width:2px ;
    border-right-color:grey ;
}
.details h3{
    color: rgb(49, 162, 200);
    text-align: center;
    font-size: 24px;
}
.details h3 a{
    display: block;
    color: rgb(49, 162, 200);
    font-size: 28px;
    text-decoration: none;
}
.details p a{
    color: grey;
}
.details .author{
    display: block;
    text-align: left;
    color: grey;
    font-size: 16px;
}
#sidebar{
    position: absolute;
    right: 0px;
    top:130px;
    width: 270px;

    padding-right: 5px;
}
#sidebar h4{
    padding-bottom: 110px;
    background: url("images/dogs.jpg")no-repeat bottom left;

}
#sidebar ul li{
    list-style-type: none;
}
#sidebar em , #sidebar h4, #sidebar a{ 
    color: rgb(49, 162, 200);
}
#featured .author{
    display: block;
    margin-bottom: 20px;
    color: grey;
}
#featured :nth-child(4){
    background: url("images/horse.jpg")no-repeat left;
    height: 121px;
    padding-left: 50%;
    margin-bottom: 20px;
}
#blogs{
    display: block;
    float: left;
    width: 350px;
    padding-left: 10px;
}
#blogs ul li:nth-last-child(3) img{
    float: left;
    margin-right: 10px;
}
#blogs ul li:nth-last-child(3){
    margin-bottom: 20px;
}
#blogs .author{
    display: block;
}
#blogs ul li:nth-child(3) img{
    float: left;
    margin-right: 10px;
}
#news{
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    float: left;
    width: 271px;
    display: block;
    border-left-style: solid;
    border-left-color: grey;
    border-left-width: 2px;
    border-right-style: solid;
    border-right-color: grey;
    border-right-width: 2px;
    border-top-style: solid;
    border-top-color: darkblue;
    border-top-width: 2px;
}
#news .day{
    padding: 0px;
    margin: 0px;
    display: block;
}
#updates{
    display: block;
    float: left;
    width: 275px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-style: solid;
    border-top-color: orange;
    border-top-width: 2px;
}
#updates h4{
    color:orange;
    font-size: 20px;
}
#favorites .author{
    display: block;
    padding-top: 122px;
}
#favorites :nth-last-child(4){
    background: url("images/cat.jpg")no-repeat;
}
#favorites :nth-last-child(3){
    background: url("images/owl.jpg")no-repeat;
}
#favorites :nth-child(4){
    background: url("images/turtle.jpg")no-repeat;
}
#favorites img{
    display: none;
}
#favorites a{
    display: block;
    margin-top: 15px;
    margin-left: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
#favorites h2 span{
    display: block;
    text-align: center;
    font-size: 20px;
}
#favorites h2{
    padding-right: 30px;
    padding-left: 10px;
    text-align: center;
    font-size: 28px;
    color: green;
}
#blogs h4{
    color:darkred;
    font-size: 20px;
}
#blogs a{
    color:darkred;
    text-decoration: none;
}
#news h4{
    color:darkblue;
    font-size: 20px;
}
#blogs{
    border-top-style: solid;
    border-top-color: darkred;
    border-top-width: 2px;
}
#footer{
    display: block;
    position: relative;
    top:1500px;
    left:600px;
}
#connect{
    z-index: 6;
    position: absolute;
    top:0px;
    background: url("images/icons.gif")no-repeat;
    background-color: yellow;
    display: block;
    width: 92;
    height: 66;
}