<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method MoviesController.showMovies -->
    <form id="filter-form" th:method="GET" th:action="@{'/'}">
        <label for="rating">Rating</label>
        <input id="rating" type="number" name="rating"/>
        <label for="genre">Genre</label>
        <select id="genre" name="genre">
            <option value="">All</option>
            <!-- For each genre you should have one <option> like below  -->
            <option th:each="genre: ${genres}" th:value="${genre}" th:text="${genre}"></option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <!-- MoviesController.showAdd -->
        <a href="/movies/add" class="add-item" sec:authorize="hasRole('ROLE_ADMIN')">
            Add new movie
        </a>
    </div>
    <table>
        <tr>
            <th>Movie name</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Genre</th>
            <th>Director</th>
            <th>Votes for PCA</th>
            <th>Actions</th>
        </tr>
        <!-- For each movie you should have one <tr> like below -->
        <tr th:each="movie: ${movies}" class="item">
            <td th:text="${movie.name}"></td>
            <td th:text="${movie.description}"></td>
            <td th:text="${movie.rating}"></td>
            <td th:text="${movie.genre}"></td>
            <td th:text="${movie.director.name}"></td>
            <td th:text="${movie.votes}"></td>
            <td>
                <!-- MoviesController.delete -->
                <form th:method="POST" th:action="@{'/movies/{id}/delete' (id=${movie.id})}" sec:authorize="hasRole('ROLE_ADMIN')">
                    <button type="submit" class="delete-item">Delete</button>
                </form>
                <!-- MoviesController.showEdit -->
                <a th:href="@{'/movies/{id}/edit' (id=${movie.id})}" class="edit-item" sec:authorize="hasRole('ROLE_ADMIN')">Edit</a>
                <!-- MoviesController.vote -->
                <form th:method="POST" th:action="@{'/movies/{id}/vote' (id=${movie.id})}" sec:authorize="hasRole('ROLE_USER')">
                    <button type="submit" class="like-item">Vote for Movie</button>
                </form>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
